@media screen and (max-width:767.98px) {
    .footer-menu {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    footer p {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .footer-menu a {
        margin: auto;
        padding: 10px 0px;
    }
    footer li {
        padding: 0px 10px;
    }
    .footer-menu img {
        width: 35px;
    }
}
@media screen and (min-width:768px) {
    .footer-menu {
        display: flex;
        flex-direction: row;
        padding: 20px 0px;
        justify-content: space-around;
    }
    footer p {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    footer li {
        padding: 0px 30px;
    }
    .footer-menu img {
        width: 75%;
    }
}
    footer {
        color: black;
        text-align: center;
        border: none;
        border-top: solid 4px;
        border-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
        border-image-slice: 1;
        margin-top: 40px;
    }
    .footer-menu a {
        text-decoration: none;
        color: white;
    }
    footer ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    footer li img {
        width: 30px;
    }